@import '../../styles/variables/colors';

.main-container {
    background-color: $background;
    height: 100vh;
    padding: 4rem 0;
    
    h1{
        text-align: center;
        color: $primary;
    }
}