@import '../../styles/variables/colors';

.p-description-container{
    justify-content: flex-start;

    h2{
        border-bottom: 1px solid $primary;
        padding: 1rem 2rem;
        color: $secondary;
    }

    .p-description {
        padding: 1rem 2rem;
        line-height: 1.5rem;
    }
}