@import "../../styles/variables/colors";

.card-container {
    background-color: #ffffff;
    border-radius: 10px;
    width: 48%;
    max-height: 283px;
    margin: 0.5rem;
    max-width: 620px;
    justify-content: space-between;

    @media (min-width: 1900px) {
        max-width: 590px;
    }

    @media (max-width: 1024px) {
        max-width: none;
        width: 100%;
        margin: 1rem;
        max-height: none;
    }

    @media (max-width: 540px) {
        flex-direction: column;
        margin: 1rem;
        width: 90%;
    }

    .card-container-img {
        position: relative;

        @media (max-width: 1024px) {
            width: 100%;
        }

        .card-img {
            border-radius: 8px;
            width: 310px;
            height: 100%;
            object-fit: cover;

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        .empty {
            background-color: rgb(190, 190, 190);
            display: flex;
            align-items: center;
            justify-content: center;

            .icon-image {
                color: white;
                width: 2rem;
                height: auto;
            }
        }

        .icon-heart {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    .card-container-text {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1rem;

        .card-title-score {
            justify-content: space-between;

            .card-title {
                .card-category {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .category {
                        color: $tertiary;
                        margin: 0 10px 0 0;
                    }
                }

                .title {
                    color: $secondary;
                    margin: 0;
                    font-weight: 700;
                    font-size: 24px;
                }
            }

            .card-score {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                p {
                    background-color: $secondary;
                    color: white;
                    margin: 0;
                    padding: 0.2rem 1rem;
                    border-radius: 10px;
                }

                h5 {
                    margin: 0.2rem 0 0 0;
                }
            }
        }

        .location {
            font-size: 14px;
            display: flex;
            flex-direction: column;

            &-link {
                color: $primary;
            }
        }

        .feature-icon {
            margin-right: 0.5rem;
        }

        .description-div {
                height: 100%;

            .description {
                font-size: 14px;
                margin: 0;
                margin: 0.5rem 0;

                .description-link {
                    color: $primary;
                }
            }
        }

        .card-button {
            width: 100%;
        }
    }
}
